dash==0.39.0
dash-core-components==0.44.0
dash-html-components==0.14.0
dash-renderer==0.20.0
dash-table==3.6.0
dash-table-experiments==0.6.0
dask==1.1.0
Flask==1.0.2
Flask-Compress==1.4.0
Flask-Cors==3.0.6
geocoder==1.38.1
geolocation-python==0.2.2
google==2.0.2
geopy==1.18.1
google-api-python-client==1.7.8
google-auth==1.6.3
google-auth-httplib2==0.0.3
gunicorn==19.9.0
h5py==2.8.0
haversine==2.0.0
joblib==0.13.2
jsonschema==2.6.0
matplotlib==2.2.3
more-itertools==4.3.0
numpy==1.15.4
numpydoc==0.8.0
pandas==0.23.4
pandas-datareader==0.7.0
places==0.3.4
plotly==3.7.1
python-google-places==1.4.1
redis>=3.0.0
rq==1.0
requests==2.21.0
reverse-geocoder==1.5.1
scikit-image==0.14.0
scikit-learn==0.20.2
scipy==1.2.0
Shapely==1.6.4.post2
virtualenv==16.4.3
xgboost==0.82
